<!DOCTYPE html>
<html>
<head>
	<title>Diabetes Detection</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css')}}">
	<link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
    <!-- <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script> -->
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
</head>
<body>
	<div class="container">
		<div class="contact-box">
			<div class="left"></div>
			<div class="right">
				<h2>Diabetes Detection</h2>

                <form action="/result" method="POST">

					<input required type="number" id="Age" name="Age" value="" class="field" placeholder="Age">

					<input required type="number" id="Glucose" name="Glucose" value="" class="field" placeholder="Glucose">

					<input required type="number" id="BloodPressure" name="BloodPressure" value="" class="field" placeholder="Blood Pressure">

					<input required type="number" id="Insulin" name="Insulin" value="" class="field" placeholder="Insulin">

					<input required type="number" step="0.1" id="BMI" name="BMI" value="" class="field" placeholder="Body Mass Index">

					<input required type="number" id="SkinThickness" name="SkinThickness" value="" class="field" placeholder="Skin Thickness">

					<input required type="number" step="0.00000001" id="DiabetesPedigreeFunction" name="DiabetesPedigreeFunction" value="" class="field" placeholder="Diabetes Pedigree Function">

				<button class="btn"  type="submit" value="Submit"><b>Predict Diabetes</b></button>
            </form>
			</div>
		</div>
	</div>
</body>
</html>

